:root {
    --background-colour: 180, 100%;
    --brand-colour: 204, 27, 60;
    --nm-blur-amount: 18px;
}

/* Clear spacing and border values for all objects */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: hsl(var(--background-colour), 25%);
}

.nm-block-item {
    border-radius: 19px;
    background: hsl(var(--background-colour), 25%);
    box-shadow: 9px 9px var(--nm-blur-amount) hsl(var(--background-colour), 21%),
                -9px -9px var(--nm-blur-amount) hsl(var(--background-colour), 29%);
    padding: 19px;
}