:root {
    --background-colour: 0, 0%;
    --background-lightness: 87;
    --background-lighter: calc((var(--background-lightness) + 10)*1%);
    --background-darker: calc((var(--background-lightness) - 10)*1%);
    --brand-colour: 94, 98%;
    --brand-lightness: 40%;
    --nm-blur-amount: 18px;
    --nm-padding: 19px;
    --text-colour: 94, 0%;
    --link-colour: 19, 100%;
    --inactive-colour: 0, 100%;
}

/* Clear spacing and border values for all objects */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: hsl(var(--background-colour), var(--background-lightness));
    color: hsl(var(--text-colour), 30%);
}

a, .nav-link, .nm-button {
    color: hsl(var(--link-colour), 40%);
    text-decoration: none;
}

a:hover, .nav-link:hover, .nm-button:hover {
    color: hsl(var(--link-colour), 40%);
    text-decoration: underline;
}

.nm-block-item {
    border-radius: var(--nm-padding);
    -webkit-border-radius: var(--nm-padding);
    -moz-border-radius: var(--nm-padding);
    -ms-border-radius: var(--nm-padding);
    -o-border-radius: var(--nm-padding);
    background: hsl(var(--background-colour), var(--background-lightness));
    box-shadow: 9px 9px var(--nm-blur-amount) hsl(var(--background-colour), var(--background-darker)),
                -9px -9px var(--nm-blur-amount) hsl(var(--background-colour), var(--background-lighter));
    padding: var(--nm-padding);
}

.nm-block-item > h4 {
    color: hsl(var(--text-colour), 35%);
    font-weight: 200;
}

h3 {
    color: hsl(var(--text-colour), 20%);
    font-weight: bolder;
}

.request_field {
    font-weight: bold;
}

.nm-button {
    background: linear-gradient(145deg, hsl(var(--background-colour), var(--background-lighter)), hsl(var(--background-colour), var(--background-darker)));
}

.nm-button:active {
    box-shadow: 9px 9px var(--nm-blur-amount) hsl(var(--background-colour), var(--background-darker)),
                -9px -9px var(--nm-blur-amount) hsl(var(--background-colour), var(--background-lighter)),
                inset 5px 5px 7px hsl(var(--background-colour), var(--background-darker)),
                inset -5px -5px 7px hsl(var(--background-colour), var(--background-lighter));
}

.nm-navbar {
    background: hsl(var(--background-colour), var(--background-lightness));
}

.navbar-brand {
    color: hsl(var(--brand-colour), var(--brand-lightness));
    font-size: xx-large;
    font-weight: 900;
}

@media screen and (max-width: 500px){
    .navbar-brand {
        font-size: x-large;
        font-weight: 800;
    }
}

@media screen and (max-width: 400px){
    .navbar-brand {
        font-size: large;
        font-weight: 800;
    }
}

.navbar-brand:hover {
    color: hsl(var(--brand-colour), var(--brand-lightness));
}

.navbar {
    border-bottom: 10px solid grey;
    border-image: linear-gradient(45deg, hsl(var(--brand-colour), var(--brand-lightness)), hsl(var(--link-colour), var(--brand-lightness)), hsl(var(--brand-colour), var(--brand-lightness))) 1;
}

input, textarea {
    border-radius: var(--nm-padding);
    box-shadow: inset 5px 5px 10px hsl(var(--background-colour), var(--background-darker)),
            inset -5px -5px 10px hsl(var(--background-colour), var(--background-lighter));
    padding: var(--nm-padding);
}

.fa-check {
    color: hsl(var(--brand-colour), var(--brand-lightness));
}

.fa-times {
    color: hsl(var(--inactive-colour), 46%);
}

.asteriskField {
    color: hsl(var(--link-colour), 40%);
}