{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <h3 class="mt-2">Open requests:</h3>
    <div class="row">
        {% for borrow_request in request_list  %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="nm-block-item mt-4">
                    <h4>Request:</h4>
                    <span class="request_field">Item:</span> {{ borrow_request.requested_item }}  <br>
                    <span class="request_field">On:</span> {{ borrow_request.required_date }} <br>
                        <span class="request_field">For:</span> {{ borrow_request.required_duration }} days <br>
                    <a href="{% url 'request_detail' borrow_request.slug %}">See details</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="row mt-5">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="nm-block-item nm-button">&laquo; PREV</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="nm-block-item nm-button">NEXT &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
</div>

{% endblock %}