{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <h3 class="mt-2">Request Details:</h3>
    <div class="row">
        <div class="col">
            <div class="nm-block-item mt-4">
                <span class="request_field">
                    {% if borrow_request.requester == user %}
                        You
                    {% else %}
                        {{ borrow_request.requester }}
                    {% endif %}
                </span>
                would like to borrow: {{ borrow_request.requested_item }} <br>
                <hr>
                <span class="request_field">More info:</span> <br>
                {{ borrow_request.details }} <br>
                <hr>
                <span class="request_field">On:</span> {{ borrow_request.required_date }} for {{ borrow_request.required_duration }} days <br>
                <hr>
                <div class="row">
                    <div class="col text-center">
                        {% if borrow_request.requester == user and borrow_request.active %}
                            <form action="{% url 'cancel_request' borrow_request.slug %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="nm-block-item nm-button" name="cancel_request" value="{{ borrow_request.slug }}">Cancel Request</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                {% if borrow_request.requester == user %}
                    {% for borrow_response in borrow_responses %}
                        <div>
                            {{ borrow_response.responder }} can lend you what you need: <br>
                            {{ borrow_response.details }} <br>
                            {% if not borrow_request.accepted_response %}
                                <form action="{% url 'accept_response' borrow_request.slug %}" method="post">
                                    {% csrf_token %}
                                    {% comment %} {{ request_form | crispy }} {% endcomment %}
                                    <button type="submit" class="btn" name="accept_response" value="{{ borrow_response.id }}">Accept response</button>
                                </form>
                            {% endif %}
                            {% if borrow_response.accepted %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    {{ borrow_responses.count }} responses received. <br>
                    {% if borrow_request.accepted_response %}
                        {{ borrow_request.requester }} has accepted one of the responses.
                    {% endif %}
                    <hr>
                {% endif %}
                <div>
                    {% if user.is_authenticated and not borrow_request.accepted_response and not user == borrow_request.requester %}
                        <h2>Can you lend {{ borrow_request.requester }} what they need?</h2>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ response_form | crispy }}
                            {% csrf_token %}
                            <div class="row mt-3">
                                <div class="col text-center">
                                    <button type="submit" class="nm-block-item nm-button">Submit</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}